# Default values for basic-hpa.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: nginx
  tag: latest
  imagePullPolicy: IfNotPresent
  env: []
  envFrom: []
  ports: []
  volumeMounts: []
    # - name: app-root
    #   mountPath: /var/www/html
  command: []
  resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
  # livenessProbe:
  #   httpGet:
  #     path: /
  #     port: http
  # readinessProbe:
  #   httpGet:
  #     path: /
  #     port: http
sidecars: []
  # - repository: nginx
  #   tag: latest
  #   imagePullPolicy: IfNotPresent
  #   env: []
  #   ports: []
  #   volumeMounts: []
  #     - name: app-root
  #       mountPath: /var/www/html
  #   livenessProbe:
  #     httpGet:
  #       path: /
  #       port: http
  #   readinessProbe:
  #     httpGet:
  #       path: /
  #       port: http
initContainers: []
  # - repository: nginx
  #   tag: latest
  #   imagePullPolicy: IfNotPresent
  #   env: []
  #   ports: []
  #   volumeMounts: []
      # - name: app-root
      #   mountPath: /var/www/html
volumes: []
  # - name: app-root
  #   type: ebs-gp2
  #   capacity: 10Gi
  # - name: empty-dir
  #   type: emptydir
  #   sizeLimit: 10Gi
  # - name: efs
  #   type: efs
  #   volumeHandler: "fs-abc12345"
  #   capacity: 10Gi

imagePullSecrets: []
  # - name: example
nameOverride: ""
fullnameOverride: ""

deploymentStrategy:
  type: RollingUpdate

podAnnotations: {}

podAdditionalLabels: {}

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80
  targetPort: http

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# metrics-server add-on required
hpa:
  enabled: false
  maxReplicas: 10
  # average total CPU usage per pod (1-100)
  cpu:
  # average memory usage per pod (100Mi-1Gi)
  memory:
  # average http requests per second per pod (k8s-prometheus-adapter)
  requests:

nodeSelector: {}

tolerations: []

affinity: {}

services: []
# - name: "jupyter" # maximum length is 12 
#   type: "ClusterIP"
#   ports:
#   - name: jupyter
#     protocol: TCP
#     port: 8890
#     targetPort: 8890
#   - name: code-server
#     protocol: TCP
#     port: 8080
#     targetPort: 8080
#   ingress:
#     enabled: true
#     annotations:
#       kubernetes.io/ingress.class: "kong"
#     hosts:
#       - host: jupyter.app.devpanel.com
#         paths:
#           - path: "/"
#             pathType: "Prefix"
#             servicePort: 8890
#       - host: jupyter-code-server.app.devpanel.com
#         paths:
#           - path: "/"
#             pathType: "Prefix"
#             servicePort: 8080
#     tls:
#       - hosts:
#           - "jupyter-code-server.app.devpanel.com"
#         secretName: "jupyter-code-server-app-devpanel-com"