apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "basic-hpa.fullname" . }}
  labels:
    {{- include "basic-hpa.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    {{- toYaml .Values.deploymentStrategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "basic-hpa.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "basic-hpa.selectorLabels" . | nindent 8 }}
        {{- with .Values.podAdditionalLabels }}
          {{- toYaml . | nindent 8 }}  
        {{- end }}  
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "basic-hpa.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: {{ .Values.priorityClassName }}
      containers:
        - name: {{ .Values.image.name | default .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.image }}"
          {{- with .Values.image.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.imagePullPolicy }}
          {{- with .Values.image.env }}
          env:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.image.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
          {{- with .Values.image.ports -}}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.image.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.image.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.image.resources | nindent 12 }}
          {{- with .Values.image.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        {{- with .Values.sidecars }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{ with .Values.volumes }}
      volumes:
      {{ range . }}
      {{ if or (eq .type "do-block-storage") (eq .type "csi-cinder-high-speed") (eq .type "ebs-gp2") (eq .type "aws-ebs") (eq .type "csi-s3") (eq .type "azure-disk") (eq .type "premium") }}
      - name: {{ .name }}
        persistentVolumeClaim:
          claimName: "{{ include "basic-hpa.fullname" $ }}-{{ .name }}"
      {{ end }}
      {{ if eq .type "aws-efs" }}
      - name: {{ .name }}
        persistentVolumeClaim:
          claimName: "{{ include "basic-hpa.fullname" $ }}-{{ .name }}"
      {{ end }}
      {{ if eq .type "emptydir" }}
      - name: "{{ .name }}"
        emptyDir:
          sizeLimit: {{ .sizeLimit }}
      {{ end }}
      {{ end }}
      {{ end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
